Ignore the Python cache and environment directories
pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.behave/
.tox/
.eggs/
.bat
.env/
.venv/
env/
venv/
.tox/
.git/
.benchmarks/
tmp/

Ignore test results and reports
allure-results/
reports/
*.log
*.json

Ignore build artifacts and junk files
build/
dist/
allure-html-report/
*.tmp
Thumbs.db
.DS_Store
_redirects

Ignore the Dockerfile and other Docker-related files themselves
Dockerfile
.dockerignore
last_pushed_id.txt
BUILD_NUMBER.txt
Thumbs.db
.DS_Store
*.tmp
*.swp
*.toml
g.bat
build.bat
ci.bat
last_pushed_id.txt
BUILD_NUMBER.txt
debug_job.bat
index.html
python_image_id.tmp